body {
  background-color: #141414
}

.logIn-box {
  background-color: rgb(226, 216, 197);
  padding: 20px;
  border-radius: 8px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* Ensure content is displayed on top of the video */
}

.square-container {
  width: 100%;
  padding-top: 100%;
  /* This will make the container square */
  position: relative;
  overflow: hidden;
}