/* App.css */

.logIn-box {
  background-color: rgb(30, 50, 73);
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.square-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#root {
  flex: 1;
}


/* .carousel-text {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  max-width: 50%;
}

.carousel-image {
  padding-right: 60px;

} */