/* App.css */

.logIn-box {
  background-color: lightgreen;
  padding: 20px;
  border-radius: 8px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* Ensure content is displayed on top of the video */
}

.square-container {
  width: 100%;
  padding-top: 100%;
  /* This will make the container square */
  position: relative;
  overflow: hidden;
}

/* .carousel-text {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  max-width: 50%;
}

.carousel-image {
  padding-right: 60px;

} */